menu "MainThingy Settings"

config UDP_DATA_UPLOAD_FREQUENCY_SECONDS
	int "How often data is transmitted to the server"
	default 900

config SERVER_HOSTNAME
	string "MainThingy server hostname or IP address"

config SERVER_PORT
	int "MainThingy server port number"


config USE_ASSISTANCE
	bool "Use assistance module"

config USE_ASSISTANCE_AGNSS
	bool "Use agnss assistance"
	select NRF_CLOUD_AGNSS
	
config USE_ASSISTANCE_PGPS
	bool "Use pgps assistance"
	select NRF_CLOUD_PGPS
	select FLASH
	select FLASH_MAP
	select STREAM_FLASH
	select FCB
	select DATE_TIME
endmenu


menu "Lte settings"

config LTE_PSM_ENABLE
	bool "Enable LTE Power Saving Mode"
	default y

config LTE_EDRX_ENABLE
	bool "Enable LTE enhanced Discontinuous Reception"
	default y

config LTE_RAI_ENABLE
	bool "Enable LTE Release Assistance Indication"
endmenu

menu "GNSS settings"

config GNSS_PERIODIC_INTERVAL
	int "Fix interval for periodic GPS fixes"
	range 10 65535
	default 120
	help
	  Fix interval (in seconds) for periodic fixes.

config GNSS_PERIODIC_TIMEOUT
	int "Fix timeout for periodic GPS fixes"
	range 0 65535
	default 480
	help
	  Fix timeout (in seconds) for periodic fixes.
	  If set to zero, GNSS is allowed to run indefinitely until a valid PVT estimate is produced.

config GNSS_DYNAMICS_MODE
	int "The dynamics mode for improving positioning performance"
	range 0 3
	default 0
	help
		The dynamics mode can be changed without disruption in positioning.
		The selected dynamics mode is stored into the non-volatile memory.

		For the nrf9160 with the currently modem firmware version older than v2.0.0, all modes assuming maximum speed 100 km/h.
		Check the documentation for the newest stable sdk!!

endmenu


menu "Server identification"

config SERVER_HOSTNAME
	string "Server_Hostname"
	default "californium.eclipseprojects.io"

config SERVER_PORT
	int "Server_Port"
	default 5683

endmenu

module = Main
module-str = MainThingy
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
