menu "Uart resolver settings"

config RESOLVER_THREAD_STACK_SIZE
	int "Stack size for the uart tx thread"
	default 1024

config RESOLVER_THREAD_PRIORITY
	int "Priority of the uart tx thread"
	default 7

endmenu

module = UART_RESOLVER
module-str = uart resolver
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
